{:paths ["src" "resources"]
 :deps {com.fulcrologic/statecharts {:mvn/version "1.2.25"}
        task-conductor/pathom-graph {:local/root "../pathom-graph"}}
 :aliases
 {:test {:extra-paths ["test"]}}}
