#kaocha/v1
 {:tests [{:id           :unit
           :source-paths ["bases/agent-runner/src"
                          "components/claude-cli/src"]
           :test-paths   ["bases/agent-runner/test"
                          "components/claude-cli/test"]}]}
